{% extends "encyclopedia/layout.html" %}

{% block title %}
    New Entry
{% endblock %}

{% block body %}
{% if existing %}
<div class="alert alert-danger" role = "alert">
    This entry already exists. If you want to view or edit it, <a href="/wiki/{{ entry }}" class="alert-link"></a>
</div>
<div class="alert alert-info" role="alert">
    Or you can change the entry name down here. It is up to you :)
</div>
{% endif %}
<br>
<div class="form-group">
    <form action="{% url 'newEntry' %}" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit">
    </form>
</div>
{% endblock %}